<div class="container-fluid bg-primary py-5">
    <div class="container text-white">
        <h1 class="display-3">Recuperatorio Programacion 3</h1>
        <p class="lead">Imágenes Deportes</p>
    </div>
</div>
<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div *ngFor="let d of listaDeportes" class="carousel-item active">
                <img [src]="d.urlImagen" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1>{{d.titulo}}</h1>
                    <h5>{{d.subtitulo}}</h5>
                    <p>{{d.descripcion}}</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
    </div>
</div>